---
layout: home
title: How I Do It -- Clutch PCs
how: pure-menu-selected
---
%main
	%section
		%article
			:markdown
				{::options auto_ids="false" /}

				# How I Build your Computers

				Ever wonder what goes on behind the scenes at a custom computer show?

				Well thats exactly what we are here to show you. 
				<br><br>
				If your wondering how to build a computer for your self please check out these sites:

				- [Lifehacker - The Complete guide to building computers](http://lifehacker.com/5828747/how-to-build-a-computer-from-scratch-the-complete-guide)
				- [Build a Computer Guide](http://www.buildacomputerguide.com)

		%article
			:markdown
				{::options auto_ids="false" /}

				# Step 1. We Receive your Instructions

				The first we do is figure out your parts list the moment we receive your build order.
				You chose most of the parts that will go into the computer but now we have to make it all fit
				in the case and decide the more crucial parts of the computer. In cases where a part 
				combination will not work (such as an i7 and a air cooler) we contact you to get permission
				to upgrade to a different part at the same cost. 

		%article
			:markdown
				{::options auto_ids="false" /}

				# Step 2. Check for duds

				After we get your part list sorted out we need to make sure all the parts work. Yes I am 
				talking about new parts. Sometimes parts are made and have a default that makes them function
				poorly or not at all. It would be awful if we sent you a computer that didn't work right or at
				all. 

		%article
			:markdown
				{::options auto_ids="false" /}

				# Step 3. Stick it in its case

				In the previous step we tested all the equipment. But at this point your new computer
				pretty much resembles a spaghetti monster. You definitely don't want to run a computer
				like that. So now we take the case you have chosen and start to stick this spaghetti 
				monster in its cage. We always start with the PSU (power supply) in the bottom so we
				can route the cables before we place the motherboard. We do this since there are some
				spaces where the head of the cable won't fit. We then fit the motherboard into the case.
				Thats not very exciting. 

				After the motherboard we add the processor and RAM along with the GPU (video card)
				and do a quick powerup to make sure we haven't damaged the system as we are putting together. Its a lot easier to do this now and find damaged parts rather then later. 

				From here we are safe to add the rest of the parts and completely assemble 
		%article
			:markdown
				{::options auto_ids="false" /}		

				# Step 4. Torture the system with Benchmarks

				We want to make absolutely sure that this system is up to snuff so we torture test it 
				for 24 hours using benchmarking software 
				([Phoronix Test Suite](http://phoronix-test-suite.com) for those who are interested).
				If there is any problem with the hardware or the setup this will make abundantly clear
				where the faults lie

		%article
			:markdown
				{::options auto_ids="false" /}

				# Step 5. Install the Operation System

				Now we need the Operation System so that the computer is actually usable. We create 
				a user account with your name and a Password of "Password01". We send this in a 
				document with the computer with the advice to immediately change the password. 

				We then install the software necessary for a general user to immediately start using
				the computer. After we finish the install we then generally put the system through its
				paces to make sure everything is working ok on it before we ship it out.

		%article
			:markdown
				{::options auto_ids="false" /}

				# Step 6. We Ship it

				Your system has been tested throughly and is working correctly. Time to ship it.
				We then have our carrier pick it up and send you an email to indicate that it has been 
				shipped and to expect it any day. 
				<br><br>
				We hope you enjoyed this trip with us down our computer building process and hope it has 
				helped you put your trust in us as a builder.
				
				[Now go buy a computer!](pricing.html)