---
layout: home
title: Home -- Clutch PCs
---
%main.pure-g
    %section.pure-u-1.pure-u-md-3-5
        /
            These 2 classes are used to create mobile layout.
            pure-u-1 happens when the page is under 48em. 
            pure-u-md-2-3 controls the page viewed under a normal layout
        %article
            %h1 
                Custom Desktops.
                %span.small Priced Right.
            :markdown
                <img src="images/custom-built-pc.jpg" width="400" alt="Custom Computer" />
                Here at Clutch PCs we know that being the best is important.
                Thats why we spend so much time working on our PCs. 
                Each PC is custom built and quality tested at the time of order
                to insure that its at maximum performance. 
                
    %section.pure-u-1.pure-u-md-2-5
        %article
            %h1 Loaded Software
            :markdown
                We load each computer to start with a linux distro of your choice 
                (We recommend Ubuntu) to help save money and to prevent malware. 
                All computers are loaded with proper software for all hardware to function.
                Each computer is also loaded with a proper office suite and photo editing software.
                Rhythmbox will take care of all music needs.
                And then we load WINE (Wine is not an Emulator) to run any Windows
                software you can't be without.
        %article
            :markdown
                {::options auto_ids="false" /}

                # Interested in our Process

                Check out the [How I do it](build-interest.html) page! We include lots of detailed information
                in our stress testing of the machines. Coming soon! Pictures to help show you

        %article
            %h1
                Got your computer. 
                %span.small Now what?
            :markdown
                Unsure of what software to load? See [Recommendations](recommendations.html)! We give all
                sorts of advice on how to use your computer and what you should load it with.

