---
layout: home
title: Lammergeier -- Build
computer: Lammergeier
i7_selected: :selected => "selected"
16g_selected: :selected => "selected"
500ssd_selected: :selected => "selected"
5000hd_checked: :checked => "checked"
t1000_selected: :selected => "selected"
really_selected: :selected => "selected"
corsairh110i_checked: :checked => "checked"
nanoxia_checked: :checked => "checked"
---

%main
{% include computer_form.haml %}
