---
layout: home
title: Recommendations -- Clutch PCs
recommendations: pure-menu-selected
---
%main.pure-g
	%section.pure-u-1
		%h1.title Recommendations
	%section.pure-u-1.pure-u-md-1-2
		%article
			:markdown
				{::options auto_ids="false" /}

				## Operation Systems
				Depending on your needs	what we recommend for an OS changes; however
				we have a bias towards linux for most general needs for a variety of reasons
				that we will get into in just a sec
				
				### What we can install

				### Linux

				#### Advantages:

				- Linux has very little virus making it ideal for most situations
				- Linux is very fast when compare to Windows or Mac on compareable hardware
				- Completely Open Source so security issues and bugs are patched very fast

				#### Disadvantages:

				- No commercial support
				- Some level of techincal knowhow is expected
				- Have to rely on community for fixes
				
				### Windows

				#### Advantages:

				- Commerical support
				- Lots of people who know it well
				- Massive software compatiblity 
				- Powerful office suite applications

				#### Disadvantages:

				- Lots of Viruses
				- Ineffienct when compare to linux (slow)
				- Often hard to debug and fixe
				- Crytpic error messages
				- Hides much of the OS from user (could be considered an Advantage)
				- Logs most of your activity while you use the computer (Spies on you)

				### Mac OS X

				- These guys need very special hardware and seriously frown upon custom builds. 
				- Not Recommended

		%article
			:markdown
				{::options auto_ids="false" /}

				## User Categories. What we recommend

				### General Users:

				We definitely recommend linux here! Its easy to run for the most part
				and helps keep your computer clean against the constant dangers of the Internet
				
				### Power Users:
				If your willing to try new things again we prefer linux but to 
				each there own. A good power user will create a Windows VM and use
				that to power apps designed for Windows and will utilize WINE when 
				the Program needs the full power of the hardware

				### Gamers:
				Most Gamers will want to install Windows. Many games (including AAA titles) are
				gaining a linux port for the many people who are migrating away from Windows due 
				to the fear of constant surveillance. Steam does include nearly 1500 titles for linux. 
				Despite all this, its hard to ignore that the Video Drivers in linux aren't
				always up to-date and there will always be PC games only release for the Windows PC
				platform. These factors should be considered when building your PC

				### Business Users:
				We recommend Windows. While its true linux has come a long way there are too many 
				Windows only applications that are necessary for business to function that can't
				be replace by there linux counterpart. One day that might happen but its not today.
				You can always run linux with a Windows VM to run the windows only process but that takes 
				power and time. Its also a nonstandard setup so applications may not behave expectedly. We 
				believe it is better for most business users to run Windows for now.

	%section.pure-u-1.pure-u-md-1-2
		%article
			:markdown
				{::options auto_ids="false" /}

				## AntiVirus Software
				For those that do run Windows you will need a good AntiVirus and Spyware suite.
				Like eveyone else we prefer software that is free.

				### Our Recommendations:

				[Avast](https://www.avast.com/en-us/index)

				[Malwarebytes](https://www.malwarebytes.org)
		%article
			:markdown
				{::options auto_ids="false" /}

				## Ninite

				Have you ever heard of the goodness that is ninte? No? Then let me introduce to one of the fast ways to get a computer up and running and completely setup with the most up today software
				<br><br>
				[Ninite](https://ninite.com)

		%article
			:markdown
				{::options auto_ids="false" /}

				##	Virtual Machines

				So If you noticed the term VM in the Operation Systems section and had no idea
				that we were talking about you are not alone. This term stands for Virtual 
				Machines. Its exactly what it sounds. A virtualized PC is created on the computer 
				and allows for different operation system to be installed along side the current 
				running operation system without a need to dual boot. These can come in handy for 
				lots of reasons but thats more advance then we want to get into right now. The 
				best option would be to use these for applications that don't exist in the current 
				operation system. A good use case would be running the Microsoft Office Suite in 
				Linux. You can use low level emulators such as WINE to run these applications but 
				they often have more problems then they are worth to not run a VM. 

				### We Recommend:

				[VirtualBox](https://www.virtualbox.org)

		%article
			:markdown
				{::options auto_ids="false" /}

				## To WINE or not to WINE
				[WINE](https://www.winehq.org) is a low level emulator that allows Window applications to 
				run in linux and can be used for a great many things. It is not a replacement for Windows
				but can help when you need access to Windows Application that can't be replaced by a linux
				alternative or if the hardware is to old to run a Virtual Machine.

				### We Recommend: 

				Only use WINE in situations of low computer power or with something that requires a great
				amount of computer power like a Video Game. You won't get perfect performance but it will
				be really close
