	-# This needs to be tabbed here for the include to be compiled right
	-# Add contact info to this form
	%h1 Build for {{ page.computer }}
	%form.pure-form.pure-form-stacked
		.pure-g
			.pure-u-1.pure-u-md-1-3.build
				%fieldset
					%legend Choose a Proccessor
					%select.pure-input-1-2{:id => "proc"}
						%option{ {{ page.i3_selected}} } i3 3.2 GHz
						%option{ {{ page.i5_selected}} } i5 3.0 GHz
						%option{ {{ page.i7_selected}} } i7 3.4 GHz
			.pure-u-1.pure-u-md-1-3.build
				%fieldset
					%legend How much ram you want?
					%select.pure-input-1-2{:id => "ram"}
						%option{ {{ page.4g_selected }} } 4 GB of Ram
						%option{ {{ page.8g_selected }} } 8 GB of Ram
						%option{ {{ page.16g_selected }} } 16 GB of Ram
						%option{ {{ page.32g_selected }} } 32 GB of Ram
			.pure-u-1.pure-u-md-1-3.build
				%fieldset
					%legend To Optical or Not to Optical
					%label.pure-radio
						%input{:type => "radio", :checked => "checked", :name => "odd"} 
						No Optical Drive
					%label.pure-radio
						%input{:type => "radio", :name => "odd"} 
						Yes please! I want the DVD RW
					%label.pure-radio
						%input{:type => "radio", :name => "odd"}
						GIMMME! BLUERAY RW!
			.pure-u-1.pure-u-md-1-3.build
				%fieldset
					%legend Mix and Match your SSDs and HDD
					%select.pure-input-1-2{:id => "ssd"}							
						%option{ {{page.nosdd_selected}} } No SSD
						%option{ {{page.120ssd_selected}} } 120 GB SSD
						%option{ {{page.250ssd_selected}} } 250 GB SSD
						%option{ {{page.500ssd_selected}} } 500 GB SSD
					%label.pure-checkbox
						%input{:type => "checkbox", {{page.500hd_checked}} }
						500 GB Hard Drive
					%label.pure-checkbox
						%input{:type => "checkbox", {{page.1000hd_checked}} }
						1 TB Hard Drive
					%label.pure-checkbox
						%input{:type => "checkbox", {{page.3000hd_checked}} }
						3TB Hard Drive
					%label.pure-checkbox
						%input{:type => "checkbox", {{page.5000hd_checked}} }
						5TB Hard Drive
			.pure-u-1.pure-u-md-1-3.build
				%fieldset
					%legend Wireless or Wired
					%select{:id => "ssd"}							
						%option{ {{page.t1000_selected}} } Gigbyte Ethernet
						%option{ {{page.bg_selected}} } Wireless Card
						%option{ {{page.ac_selected}} } Killer AC Wireless Card
			.pure-u-1.pure-u-md-1-3.build
				%fieldset
					%legend Good, Better, Killer GPUs
					%select{:id => "gpu"}
						%option{ {{page.integrated_selected}} } Intergrated Graphics
						%option{ {{page.starter_selected}} } 6670 hd Radeon Graphics
						%option{ {{page.midgrade_selected}} } GTX 660 Nvida Graphics
						%option{ {{page.great_selected}} } R9 280X Radeon Graphics
						%option{ {{page.overkill_selected}} } GTX 970 Nvida Graphics
						%option{ {{page.really_selected}} } GTX Titan Z Graphics
			.pure-u-1.pure-u-md-1-3.build
				%fieldset
					%legend Water or Air
					%label.pure-radio
						%input{:type => "radio", :name => "cooler", {{page.hyper212_checked}} } 
						CM Hyper 212 EVO - Air
					%label.pure-radio
						%input{:type => "radio", :name => "cooler", {{page.noctua_checked}} }
						Noctua NH-U9DX I4 - Air
					%label.pure-radio
						%input{:type => "radio", :name => "cooler", {{page.corsairh55_checked}} }
						Corsair Hydro H55 - Water
					%label.pure-radio
						%input{:type => "radio", :name => "cooler", {{page.corsairh110i_checked}} }
						Corsair Hydro H110i GTX
			.pure-u-1.pure-u-md-1-3.build
				%fieldset
					%legend	Cases, cases and more cases
					%label.pure-radio
						%input{:type=> "radio", :name => "case", {{page.win_checked}}}
						IN WIN 901 Silver Aluminum - Small
					%label.pure-radio
						%input{:type=> "radio", :name => "case", {{page.corsair_checked}}}
						Corsair Graphite Series 230T - Mid
					%label.pure-radio
						%input{:type=> "radio", :name => "case", {{page.thermaltake_checked}}}
						Thermaltake Chaser A71 Black - Big
					%label.pure-radio
						%input{:type=> "radio", :name => "case", {{page.nanoxia_checked}}}
						Nanoxia Deep Silence 6 - Seriously? You need something this big?
			.pure-u-1.pure-u-md-1-3.build
				%fieldset
					%legend Did we miss something you want? Tell us!
					%textarea{:placeholder => "Custom Instructions"}
			.pure-u-1.submit
				%button.pure-button.pure-button-primary.pure-input-1-2{:type => "submit"} Buy it!
