---
layout: home
title: Accipiter Hawk -- Build
css-link: ../
computer: Accipiter Hawk
i3_selected: :selected => "selected"
4g_selected: :selected => "selected"
nossd_selected: :selected => "selected"
500hd_checked: :checked => "checked"
t1000_selected: :selected => "selected"
starter_selected: :selected => "selected"
hyper212_checked: :checked => "checked"
win_checked: :checked => "checked"
---

%main
{% include computer_form.haml %}
