---
layout: home
title: Contact Us -- Clutch PCs
contact-us: pure-menu-selected
css-link: ../
---
/ 
	Yeah I know this page is a bit sparse. I couldn't think of anything to put in
	it besides this small form
	
%main
	%h1 Contact Us
	%form.pure-form.pure-form-stacked{:action => "submit.html"}
		.contact
			%fieldset
				%legend Please fill out this form to contact us
				%article
					%label{:for => "name"} Name
					%input{:id => "name", :type => "text", :pattern => "[A-Za-z]*", :title => "You Name", :required => "required"}

				%article
					%label{:for => "email"} Email Address
					/ There is no complete regex pattern to verify email addresses
					%input{:id => "email", :type => "text", :required => "required"}
				%article
					%label{:for => "Comments"} Comments
					%textarea{:placeholder => "Something on your mind?", :required => "required"}
				%article.submit
					%button.pure-button.pure-button-primary.pure-input-1-2{:type => "submit"} Submit

