---
layout: home
title: FAQ -- Clutch PCs
faq: pure-menu-selected
css-link: ../
---
%main
	%section
		%article.pure-menu
			%h1{:name => "top"} Frequently Asked Questions
			%ul.pure-menu-list.faq
				%li.pure-menu-item
					%a.pure-menu-link{:href => "#one"} 
						Does this come with Peripherals?
				%li.pure-menu-item
					%a.pure-menu-link{:href => "#two"} 
						What if I want to do something not listed to my computer?
				%li.pure-menu-item
					%a.pure-menu-link{:href => "#three"} 	 
						How can I add custom parts?
				%li.pure-menu-item
					%a.pure-menu-link{:href => "#four"}
						What do I do if the computer breaks?
				%li.pure-menu-item
					%a.pure-menu-link{:href => "#five"}
						How do I return the computer?
				%li.pure-menu-item
					%a.pure-menu-link{:href => "#six"}
						What if I shipped the computer to the wrong address?
				%li.pure-menu-item
					%a.pure-menu-link{:href => "#seven"}
						Um.. Warranty?

		%article
			%a{:name => "one"} 
			%h1 
				Does this come with Peripherals? 
				%span.small (monitors, keyboards, mouse)
			%p
				No this doesn't come with any sort of monitors, keyboards, mouses, or any peripherals
			%br
			%a{:href => "#top"} Top
		%article
			%a{:name => "two"}
			%h1
				What if I want to do something custom to my computer?
			%p
				Just put into the custom instructions setting box during checkout. 
				If anything is unclear or we need clarification we will call you.
			%br
			%a{:href => "#top"} Top
		%article
			%a{:name => "three"}
			%h1
				How can I add custom parts?
			%p
				Make sure you add the part number or exact part name in the custom build instructions and what
				part the replaces. If the part is more expensive then what you chose we will add the 
				difference on the total. We will hold the computer for shipping until the difference is paid 
				and at 90 days your order will be canceled
			%br
			%a{:href => "#top"} Top
		%article
			%a{:name => "four"}
			%h1
				What do I do if the computer breaks?
			%p
				Please send us an email or call us as soon as possible. We will ship the computer back
				to us and if we determine the issue is caused by the computer malfunctioning we will 
				pay for shipping.
			%br
			%a{:href => "#top"} Top
		%article
			%a{:name => "five"}
			%h1
				How do I return the computer?
			%p
				If want to return the computer for any reason you have 14 days to contact us for return.
			%br
			%a{:href => "#top"} Top
		%article
			%a{:name => "six"}
			%h1
				What if I shipped the computer to the wrong address?
			%p
				We will put you in contact with the shipper to make necessary changes unless it hasn't been
				shipped which in that case we will correct the address before its shipped.
			%br
			%a{:href => "#top"} Top	
		%article
			%a{:name => "seven"}
			%h1
				Um.. Warranty?
			%p
				We offer a lifetime warranty on the physical computer and all the parts. Any damage to the 
				operation system is the responsibility of the owner
			%br
			%a{:href => "#top"} Top	