---
layout: home
title: Buteo Buzzard -- Build
css-link: ../
computer: Buteo Buzzard
i5_selected: :selected => "selected"
8g_selected: :selected => "selected"
250ssd_selected: :selected => "selected"
1000hd_checked: :checked => "checked"
t1000_selected: :selected => "selected"
great_selected: :selected => "selected"
noctua_checked: :checked => "checked"
thermaltake_checked: :checked => "checked"
---

%main
{% include computer_form.haml %}
