---
layout: home
title: Pricing -- Clutch PCs
css-link: ../
pricing: pure-menu-selected
---
%main.pure-g
	.pricing-tables
		/ All the following are named after Birds of Prey
		%section.pure-u-1.pure-u-md-1-3
			%article.pricing-table
				.pricing-table-header.consumer
					%h1 Accipiter Hawk
					%h2 Starting Under:
					%span.pricing-table-price $500 
				:markdown
					- Good strong computer
					- Play most games on medium settings
					- Air cooled for simplcity
					- Small case for small foot print
					- 500 GB hard drive
				%button.pure-button{:onclick => "location.href='consumer.html'"} Choose

		%section.pure-u-1.pure-u-md-1-3
			%article.pricing-table
				.pricing-table-header.gamer
					%h1 Buteo Buzzard
					%h2 Starting Under:
					%span.pricing-table-price $1000
				:markdown
					- Excellent for gaming
					- Play games on high to ultra settings
					- Can be Air cooled or Water Cooled
					- Small build footprint
					- 1 TB Hard Drive and 250 GB SSD
				%button.pure-button{:onclick => "location.href='gamer.html'"} Choose

		%section.pure-u-1.pure-u-md-1-3
			%article.pricing-table
				.pricing-table-header.overkill
					%h1 Lammergeier
					%h2 Starting Under:
					%span.pricing-table-price $1500
				:markdown
					- The one to rule them all
					- All games at maxed settings
					- Water cooled
					- Larger footprint
					- 5 TB hard drive and 500 GB SSD
				%button.pure-button{:onclick => "location.href='overkill.html'"} Choose


